<h1>Word list</h1>
<%= form_tag({}, method: :get) do %>
  <div class="form-inline text-center">
    <%= select_tag :category_id, options_for_select(@categories.pluck(:name, :id)), class: "form-control" %>
    <%= radio_button_tag :type, "Learned" %> Learned
    <%= radio_button_tag :type, "Learned" %> Not Learned
    <%= radio_button_tag :type, "Learned" %> All Word
    <%= submit_tag "filter", class: "btn btn-primary" %>
  </div>
<% end %>
<div class= "panel panel-body col-md-4 col-md-offset-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Word</th>
        <th scope="col">Mean</th>
      </tr>
    </thead>
    <tbody>
      <% @words.each do |word| %>
      <tr>
        <td><%= word.name %></td>
        <td><%= word.category.name%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @words %>
</div>
